<h1>Carrito {{cart._id}}</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        {{this.product.title}} - Cantidad: {{this.quantity}} - Precio: {{this.product.price}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío</p>
{{/if}}

<a href="/products">Volver al listado de productos</a>